<a href="https://colab.research.google.com/github/Ele2000/Chapter-5-/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ex: 5.1

In [1]:
car = 'Chevrolet'
print ("Is car == 'Chevrolet'? i predict True.")
print (car == 'Chevrolet')

print ("\nIs car = 'Mercedes-Benz'? I predict Fales")
print (car == 'Mercedes-Benz')

print ("\nIs car == 'Chevrolet'? i predict false")
print (car == 'Chevrolet')

print ("\ncar == 'Chevrolet'? i think so")
print (car.lower() == 'Chevrolet')

Is car == 'Chevrolet'? i predict True.
True

Is car = 'Mercedes-Benz'? I predict Fales
False

Is car == 'Chevrolet'? i predict false
True

car == 'Chevrolet'? i think so
False

ex: 5.2

In [2]:
car = 'Chevrolet'
number = 22
string = 'What a wonderful day.'

print ("Is car == 'Chevrolet'? I predict True.")
print (car == 'Chevrolet')

print ("\nIs car == 'Mercedes-Benz'? I predict False.")
print (car == 'Mercedes-Benz')

print ("\nIs number == 22? I predict True.")
print (number == 22)

print ("\nIs number != 22? I predict False")
print (number != 22)

print ("\nIs car == 'Chevrolet' and number == 22? I predict True.")
print (car == 'Chevrolet' and number == 22)

print ("\nIs car == 'Mercedes-Benz' and number == 22? I predict False.")
print (car == 'Mercedes-Benz' and number == 22)

print ("\nIs car == 'Mercedes-Benz' and number == 22? I predict True.")
print (car == 'Mercedes-Benz' or number == 22)

Is car == 'Chevrolet'? I predict True.
True

Is car == 'Mercedes-Benz'? I predict False.
False

Is number == 22? I predict True.
True

Is number != 22? I predict False
False

Is car == 'Chevrolet' and number == 22? I predict True.
True

Is car == 'Mercedes-Benz' and number == 22? I predict False.
False

Is car == 'Mercedes-Benz' and number == 22? I predict True.
True

ex: 5.3

In [3]:
alien_color = 'green'
if alien_color == 'green':
    print ('wonderful you just earned 5 points.')

alien_color = 'green'
if alien_color == 'pink':
    print ('wonderful you just earned 5 points.')

wonderful you just earned 5 points.

ex: 5.4

In [4]:
alien_color = 'green'
if alien_color == 'green':
    print ('wonderful you just earned 5 points.')
else:
    print ('wonderful you just earned 10 points.')


alien_color = 'green'
if alien_color == 'pink':
    print ('wonderful you just earned 5 points.')
else:
    print ('wonderful you just earned 10 points.')

wonderful you just earned 5 points.
wonderful you just earned 10 points.

ex: 5.5

In [5]:
alien_color = 'green'

if alien_color == 'green':
    print ('wonderful You just earned 5 points.')
elif alien_color == 'pink':
    print ('wonderful You just earned 10 points.')
else:
    print ('wonderful You just earned 15 points.')



alien_color = 'green'

if alien_color == 'pink':
    print ('wonderful You just earned 5 points.')
elif alien_color == 'green':
    print ('wonderful You just earned 10 points.')
else:
    print ('wonderful You just earned 15 points.')


alien_color = 'black'

if alien_color == 'green':
    print ('wonderful You just earned 5 points.')
elif alien_color == 'pink':
    print ('wonderful You just earned 10 points.')
else:
    print ('wonderful You just earned 15 points.')

wonderful You just earned 5 points.
wonderful You just earned 10 points.
wonderful You just earned 15 points.

ex: 5.6

In [6]:
age = 73
if age <= 2:
    print('baby')
elif age <= 4:
    print('toddler')
elif age <= 13:
    print('kid')
elif age <= 20:
    print('teenager')
elif age <= 65:
    print('adult')
else:
    print('elder')

age = 19
if age <= 2:
    print('baby')
elif age <= 4:
    print('toddler')
elif age <= 13:
    print('kid')
elif age <= 20:
    print('teenager')
elif age <= 65:
    print('adult')
else:
    print('elder')

elder
teenager

ex: 5.7

In [7]:
favorite_fruits = ['banana', 'grapes', 'orange']


if 'apple' in favorite_fruits:
    print(f'Do you realy like apple')

if 'banana' in favorite_fruits:
    print(f'Do you realy like banana')
    
if 'peach' in favorite_fruits:
    print(f'Do you realy like peach')

if 'grapes' in favorite_fruits:
    print(f'Do you realy like grapes')

if 'orange' in favorite_fruits:
    print(f'Do you realy like orange')

Do you realy like banana
Do you realy like grapes
Do you realy like orange

ex: 5.8

In [8]:
usernames = ['Saliko', 'Lizako', 'Toko100', 'Likuna', 'Nanka1']

for user in usernames:
    if user == 'admin':
        print(f'Hello {user}, would you like to see a status report?')
    else:
        print(f'Hello {user}')

Hello Saliko
Hello Lizako
Hello Toko100
Hello Likuna
Hello Nanka1

ex: 5.9

In [9]:
usernames = [ ]

if usernames:
    for user in usernames:
        print(f'Hello {user}')
else:
    print('We have to find some users!')

We have to find some users!

ex: 5.10

In [10]:
current_users = ['Irinka1', 'Lizako', 'Toko100', 'Ika5', 'Guga123']
new_users = ['Saliko', 'Lizako', 'Toko100', 'Likuna', 'Nanka1']

for new_user in new_users:
    if new_user.lower() in current_users:
        print(f'The username "{new_user}" is not available, please choose other.')
    else:
        print(f'Username {new_user} is available.')

Username Saliko is available.
Username Lizako is available.
Username Toko100 is available.
Username Likuna is available.
Username Nanka1 is available.

ex: 5.11

In [11]:
numbers = [1,2,3,4,5,6,7,8,9]

for number in numbers:
    if number == 1:
        print(f'{number}st')
    elif number == 2:
        print(f'{number}nd')
    elif number == 3:
        print(f'{number}rd')
    else:
        print(f'{number}th')

1st
2nd
3rd
4th
5th
6th
7th
8th
9th